body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.head{
    background-image: url(images/assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-position: center;
}
.logo{
text-align: center;
padding-top:  300px;
}
.welcome{
    color: white;
    text-align: center;
    padding-top: 5%;
}
.del{
    color: white;
    text-align: center;
    padding-top: 1%;
}
.head >p{
    color: white;
    text-align: center;
    font-size: 12px;
}
.pic{
    text-align: center;
    padding-top: 15%;
}
.about{
    padding-top: 2%;
    font-size: 20px;

}
.about >p{
    text-align: center;
    line-height: 50px;

}